[submodule "Psyche/vendor/spdlog"]
	path = Psyche/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Psyche/vendor/GLFW"]
	path = Psyche/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
